<div class="background">
  <div class="d-flex justify-content-center">
    <img src="../../../../assets/animation.gif" alt="" class="w-25 h-25">
  </div>

<div class=" container-fluid" *ngFor="let post of posts  " >
  <div class="row justify-content-center">
    <div class="col-lg-5  p-4 mb-5 groundPost rounded">

    
  <div  class="p-2 text-white" >  <i class="fa-regular fa-user mx-1"></i> {{post.userId.name}}</div>

  <div class="my-2 card p-2  rounded">
    <p class="fs-2">{{post.body}}</p>
  </div>


  <app-comments  [postId]="post._id"></app-comments>
</div>

  </div>
</div>
</div>