/* .background{
    background-image: url('../../../../assets/background.jpg');
   max-width: 100%;
   
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */
/* .imgAnimate{
    max-width: 200px;
} */
